{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="card mx-auto mx-4 w-50">
    <div class="card-body">
        <form method="post" action="{{ url_for('Comet.login') }}">
            <h1 class="text-center mb-4">Comet</h1>
            {{ form.hidden_tag() }}
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            <p class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </p>
        </form>

        <form action="{{ url_for('Comet.register') }}" method="POST">
            <h5 class="text-center mt-4 mb-2">If you don't have an account, please sign up:</h5>
            <p class="text-center">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}


